.calendar-container {
  position: relative;
  width: 65%;
  height: fit-content;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
  height: 79vh;

  .calendar-data {
    width: 90%;
    margin-left: 5%;
  }

  .header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .month {
      width: 9em;
      text-align: center;
      font-size: 1.5vw;
    }

    .arrows {
      display: flex;
      flex-direction: row;
      align-items: center;

      .left-arrow {
        height: 2.5vw;
        width: 2.5vw;
        border-radius: 7px;
        border: none;
        outline: 2px solid #f0f0fe;
        background-color: transparent;
        cursor: pointer;
        margin: 0 2em 0 0;

        #Layer_1 {
          transform: rotate(270deg);
          fill: #917dfd;
          width: 50%;
        }
      }

      .left-arrow:hover {
        background-color: #f5f6f7;
      }

      .right-arrow {
        height: 2.5vw;
        width: 2.5vw;
        border-radius: 7px;
        border: none;
        outline: 2px solid #f0f0fe;
        background-color: transparent;
        cursor: pointer;

        #Layer_2 {
          transform: rotate(90deg);
          fill: #917dfd;
          width: 50%;
        }
      }

      .right-arrow:hover {
        background-color: #f5f6f7;
      }
    }
  }

  .day-container {
    width: 90%;
    height: 3.4vh;
    display: flex;
    justify-content: center;
    outline: 1px solid #f0f0fe;
    padding: 3px;
    background-color: #f0f0fe;
    color: #917dfd;
    border-radius: 10px 10px 0 0;
  }

  .calendar-days {
    width: 15%;
    height: 9vh;
    background: #fff;
    outline: 1px solid #f0f0fe;
    padding: 3px;
    position: relative;

    .day {
      position: absolute;
      left: 80%;
      top: 6%;
      font-size: 0.8vw;
    }

    #calendar {
      position: absolute;
      top: 5%;
      left: 10%;
      cursor: pointer;
      font-size: 0.8vw;
    }

    .message-container {
      position: absolute;
      top: 36%;
      width: -webkit-fill-available;
      height: 6vh;
      overflow-y: auto;
      overflow-x: hidden;
      scroll-snap-type: y mandatory;

      textarea {
        margin: 0.4em 1.2em;
        border: none;
        outline: none;
        width: -webkit-fill-available;
        height: -moz-fit-content;
        height: fit-content;
        resize: none;
        text-align: center;
        border-radius: 4px;
        font-weight: 600;  
      }

      .morado {
        background-color: #f0f0fe;
        color: #836ef4;
      }

      .celeste {
        background-color: #e5f9fd;
        color: #3ecbff;
      }

      .rosa {
        background-color: #fef8ef;
        color: #fed789;
      }
    }

    ::-webkit-scrollbar {
      width: 0;
    }
  }

  .weekend {
    background-color: rgb(229, 228, 228);
  }

  .flex-container {
    display: -webkit-flex;
    display: flex;
  }

  .flex-center {
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
  }

  .center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .text {
    width: 8.3vw;
    text-align: center;
    font-size: 0.8vw;
  }


  .modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
  }

  .modalDialog:target {
    opacity: 1;
    pointer-events: auto;
  }

  .modalDialog>div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
  }

  .close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
  }

  .close:hover {
    background: #00d9ff;
  }

}
