<div class="flex-container flex-center">
  <button
    class="iconsSize ml-1 my-auto"
    (click)="previousmonth()"
  >
    <label>
      <
    </label>
  </button>
  <h4><b>{{date.format('MMMM ')}}{{date.format('YYYY ')}}</b></h4> 
  <button
    class="iconsSize ml-1 my-auto"
    (click)="nextmonth()"
  >
    <label>
      >
    </label>
  </button> 
</div>
<div *ngFor="let calendarItem of calendar; let i = index">
  <div class="flex-container flex-center">
    <div class="calendar-days" [ngClass]="day.className" *ngFor="let day of calendarItem">
      <div *ngIf="i === 0">{{day.dayName}}</div>
      {{day.day}}
    </div>
  </div>
</div>
